body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin: auto;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

.node {
  /*font: 10px sans-serif;*/
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}